/* SETUP */
* {
    box-sizing: border-box;
}
.images {
    display: block;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}
a {
    color: inherit;
    text-decoration: none;
}

/* STRUCTURE */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex-grow: 1;
    background: #1F2937;
    justify-content: center;
    align-items: center;
}
.inner-column {
    display: block;
    padding: 10px;
    width: 98%;
    max-width: 900px;
    margin: auto;
    padding-top: 6vh;
    padding-bottom: 6vh;
}

header {
    background: #1F2937;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
    display: flex;
    align-items: center;
    padding: 20px 300px;
}

li {
    list-style-type: none;
    margin: 0px 10px;
}

a:hover {
    color: lightblue;
}



.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    flex-shrink: 0;
}
.logoTop {
    width: 50px;
    height: auto;
    margin: 0;
    padding: 0;
}

.sectionOne {
    font-family: sans-serif;
    display: block;
    display: flex;
    flex-direction: column;
    gap: 60px;
    background: #1F2937;
}
.sectionOne.texts {
    display: block;
    color: white;
    flex-wrap: wrap;
}
.sectionOne.image {
    width: 200px;
}
@media (min-width: 700px) {
    .sectionOne {
        flex-direction: row;
    }
    .sectionOne :is(.sectionOne.texts, .sectionOne.image) {
        flex-basis: 50%;
    }
}

.textAwesome {
    font-size: 48px;
    line-height: 0.8;
    color: #F9FAF8;
    font-weight: 800;
}
.subText {
    padding-top: 20px;
    font-size: 18px;
    color: #E5E7EB;
    width: 70%;
    padding-bottom: 5px;
}
.btnSignUp {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 30px;
    border-radius: 5px;
    border: none;
}